@import "tailwindcss";

:root {
  --black: #000000;
  --gray: #ceCDD2;
  --olive: #353a29;
  --green: #61ff6c;
  --acid: #85f988;
  --orange: #ff7d00;
  --blue: #2902f0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--black);
  color: var(--gray);
  font-family: var(--font-right-serif), "Courier New", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

::selection {
  color: var(--black);
  background: var(--orange);
}
